<h3>Input Básicos</h3>
<div>
  <mat-form-field>
    <input matInput type="text" placeholder="Nombre">
  </mat-form-field>
</div>


<h3>Prefijos y sufijos</h3>
<div>
  <mat-form-field>
    <span matPrefix>+57 &nbsp;</span>
    <input matInput type="text" placeholder="Teléfono">
    <span matSuffix>:)</span>
  </mat-form-field>
</div>


<h3>Hints</h3>
<div>
  <mat-form-field>
    <input matInput type="text" placeholder="Dirección">

    <!-- Mensaje que aparece abajo del input -->
    <mat-hint>Calle y número de domicilio</mat-hint>
  </mat-form-field>
</div>