<mat-list>
  <mat-list-item>
    <img mat-line mat-list-avatar src="https://img.icons8.com/color/420/edit-user-female.png" alt="">
    <span matLine>Nelcy Sierra</span>
    <span matLine>Bogotá</span> 
  </mat-list-item>
  <mat-list-item>
      <img mat-line mat-list-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI5TDjHkXbNGlduL7AEVMwGn4bc-QosNt7IRcp9fBJ4qN6N0pmHg" alt="">
      <span matLine>Pepito Pérez</span>
      <span matLine>Bogotá</span> 
    </mat-list-item>
</mat-list>
